@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
background-color:#181818;
color: lightgrey;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
    color: yellowgreen;
}
p{
    color: white;
}
a {
  text-decoration: none;
}

:root {
  --primary-color: white    ;
}
br{
    padding: 2rem;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 100vw;
}

/* Container */
.container {
  margin: 4rem auto 7rem;
  text-align: center;
  font-weight: 700;
}

.heading {
  color: lightcyan;
}

.description {
  font-size: larger;
  margin: 1rem;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}

.input {
    color: greenyellow;
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#check-button {
  background: var(--primary-color);
  border: none;
  color: white;
  background-color: black;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  border: 2px solid white;
  margin: auto;
  display: block;
}

#error-message {
  display: block;
  font-weight: 700;
  font-size: larger;
  margin: 1rem 0 0;
  color: red;
}

/* Table */
.change-table {
  width: 20%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
  padding: 2rem;
}

.change-table-caption {
  margin: 1rem auto;
  color: white;
  font-size: x-large;
  font-weight: 500;
}

th,
td {
    color: greenyellow;
  border: 2px solid lightgray;
  width: 0%;
  border-collapse: collapse;
  padding: 0.6rem;
}

/* footer */

footer {
  text-align: center;
}